[Desktop Entry]
Type=Application
Name=Grub Reboot Picker
GenericName=Grub Reboot Picker
Comment=Pick an OS to reboot into
Exec=pkexec /usr/sbin/grub-reboot-picker
Terminal=false
Icon=un-reboot
Keywords=reboot;grub;restart;OS;windows;ubuntu;
Categories=Utility;System
StartupNotify=true
X-Gnome-Autostart-enabled=true
